services:
    server:
        build:
            context: .
            dockerfile: ./server/Dockerfile
        environment:
            DB_HOST: ${DB_HOST}
            DB_USER: ${DB_USER}
            DB_PASSWORD: ${DB_PASSWORD}
            DB_NAME: ${DB_NAME}
        container_name: server
        volumes:
            - ./server:/blog_ipsum/server
            - /blog_ipsum/server/node_modules
        ports:
            - "3000:3000"
        env_file:
            - .env.test
        depends_on:
            db_test:
                condition: service_healthy

    web:
        build:
            context: .
            dockerfile: ./web/Dockerfile
        container_name: web
        volumes:
            - ./web:/blog_ipsum/web
            - /blog_ipsum/web/node_modules
        ports:
            - "5173:5173"
        environment:
            - CHOKIDAR_USEPOLLING=true
        expose:
            - "5173"

    db_test:
        image: mysql:8.0
        container_name: db_test
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
            MYSQL_DATABASE: ${DB_NAME}
            MYSQL_USER: ${DB_USER}
            MYSQL_PASSWORD: ${DB_PASSWORD}
        healthcheck:
            test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
            interval: 5s
            retries: 10
            start_period: 10s
        ports:
            - "3307:3306"
        volumes:
            - mysql_data_test:/var/lib/mysql

    proxy:
        image: nginx:alpine
        container_name: proxy
        ports:
            - "80:80"
        depends_on:
            - web
            - server
        volumes:
            - ./proxy/nginx.conf:/etc/nginx/nginx.conf:ro

volumes:
    mysql_data_test:

networks:
    default:
        driver: bridge
        driver_opts:
            com.docker.network.enable_ipv6: "false"
